// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media print {
  .page-break { display: block; page-break-before: always; }

  p { display: inline ; }
}

h1 { margin-bottom: 3rem; }

table {
  margin: 1.5rem 0;

  tr { padding-left: 0.75rem; }
  td { margin: 0; }
}

img {
  margin-right: 0.75rem;
}

label, .label {
  color: lightgray;
}

.contact {
  min-height: 6.75rem;

  p, label { margin: 0; }
}
