// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media print {
  .page-break { display: block; page-break-before: always; }

  p { display: inline ; }
}

h1 { margin-bottom: 2rem; }

.table {
  margin: 1.5rem 0 0;

  td {
    margin: 0;
    padding: 0.5rem;
  }

  tr {
    max-height: 11rem;
    overflow-y: hidden;
    padding-left: 0.75rem;
  }
}

img {
  margin-right: 0.75rem;
}

label, .label {
  color: gray;
}

.contact {
  min-height: 6.75rem;

  p, label { margin: 0; }
}

footer {
  color: gray;
  font-size: 9px;
}

.exception {
  color: red;
  font-weight: bold;
}

.photo-replacement {
  align-items: center;
  border: 1px solid grey;
  display: flex;
  float: left;
  height: 450px;
  justify-content: center;
  margin-right: 0.75rem;
  width: 300px;
}

span.missing-data {
  background-color: white;
  border: 1px solid red;
  display: block;
  height: 3rem;
  min-width: 5rem;
  max-width: 12rem;
  width: inherit;
}

table.missing-data {
  tr {
    &:nth-of-type(even) { background: #DDD; }

    line-height: 1rem;
  }

  td {
    padding: 2px;
    vertical-align: top;

    div {
      max-height: 3rem;
      overflow-y: hidden;
    }
  }

  td, th {
    min-width: 5rem;
    max-width: 12rem;
  }
}
